
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a href="/admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>

