
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-12">
    <p>Blog Listesini İndirmek İçin Tıklayın</p>
    <button class="btn btn-primary" onclick="DownloadExcelBlogList()">Excel İndir</button>
</div>

<script>
    function DownloadExcelBlogList() {
        window.open("/Admin/Blog/ExportDynamicExcelBlogList");
    };
</script>