<div class="comment-top">
    <h4>Yorum Bırak</h4>
    <div class="comment-bottom">
        <form method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="İSİM" required="">
            <input class="form-control" type="email" name="Email" placeholder="E-MAİL" required="">

            <input class="form-control" type="text" name="CommentTitle" placeholder="KONU" required="">

            <textarea class="form-control" name="CommentContent" placeholder="MESAJ..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">YORUM YAP</button>
        </form>
    </div>
</div>
