<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>HAKKIMIZDA</h3>
                <p>1998 yılında "En yeni iletişim ve bilgisayar teknolojilerini kullanarak müşterilerine dünya standartlarında çözümler sunmak" ilkesiyle yola çıkan isimtescil.net, geçen 16 yıllık süreçte Dünya ve Türkiye’ye, en büyük domain ve hosting firmalarından biri olmayı başarmıştır.</p>
                <div class="read">
                    <a href="/About/About/" class="btn btn-primary read-m">Devamını Oku...</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    <h3>SON GÖNDERİLER</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/WriterTema/images/4.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/WriterTema/images/5.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/WriterTema/images/6.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> 20 Jan, 2018
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- subscribe -->
            
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                @await Html.PartialAsync("~/Views/NewsLetter/SubsribeMail.cshtml")
                <!-- //subscribe -->
                <p>Gizliliğinize saygı duyuyoruz. Asla spam yok!</p>
             </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    ©2022 - @DateTime.Now.Year Asp.Net Core 5.0 Writer Blog Web Site. All rights reserved | Design by
                    <a href="https://www.instagram.com/amoryazilim/" target="_blank">AMOR YAZILIM</a>
                </p>
            </div>
        </div>
        <!-- //footer -->
    </div>
</footer>